<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Film Registration</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Cadastro de Filme</h1>
        <form method="post" action="/filmes">
            <label for="name">Nome:</label>
            <input id="name" name="name">

            <br/>

            <label for="duration">Duração (em minutos):</label>
            <input id="duration" name="duration">

            <br/>

            <label for="year">Ano de lançamento:</label>
            <input id="year" name="year">

            <br/>

            <label for="gender">Gênero:</label>
            <input id="gender" name="gender">

            <br/>

            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>