<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Movie List</title>
</head>
<body>
    <div layout:fragment="content">
    <h1>Lista de Filmes</h1>
    <a href="/filmes/formulario">Novo</a>

    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>DURAÇÃO</th>
                <th>ANO DE LANÇAMENTO</th>
                <th>GÊNERO</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <!--dependencia thymeleaf que é a que vai deixar fazer coisas dinamicas na página,
            acessar variável, fazer if, etc.-->
            <tr th:each="movie : ${list}">
                <td th:text="${movie.name}"></td>
                <td th:text="${movie.durationInMinutes}"></td>
                <td th:text="${movie.releaseYear}"></td>
                <td th:text="${movie.gender}"></td>
                <td>
                    <!--html só aceita get e post, por isso por mais que seja excluir, é post e não delete
                    contornamos o problema com um campo escondido, que será tipo hidden, com nome padrão
                    method, e com valor do método http que quer substituir.
                    Por padrão, isso vem desabilitado, então colocamos spring.mvc.hiddenmethod.filter.enabled=true
                    no application para habilitar.-->
                    <form action="/filmes" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="id" th:value="${movie.id}">
                        <input type="submit" value="Excluir">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>